
@{ ViewData["Title"] = "Home Page"; }
<body>
    <section class="fondo">
        <a style="position:absolute;top:30%;left:35%" asp-controller="Pacientes" asp-action="Registro" class="btn btn-primary" role="button">Registro Paciente</a>
        <a style="position:absolute;top:43%;left:35%" asp-controller="Pacientes" asp-action="Buscar" class="btn btn-primary" role="button">Busqueda Paciente</a>
        <a style="position:absolute;top:55%;left:35%" asp-controller="Pacientes" asp-action="Porcentaje" class="btn btn-primary" role="button">Ver Estadisticas</a>
        <a style="position:absolute;top:70%;left:35%" asp-controller="Pacientes" asp-action="Hospital" class="btn btn-primary" role="button">Hospitales</a>
    </section>

</body>
