<body>
    <section class="fondo4">
        <a style="position:absolute;top:37%;left:32%" asp-controller="Pacientes" asp-action="Index" class="btn btn-primary" role="button">Ver Lista de Registro</a>
        <a style="position:absolute;top:50%;left:32%" asp-controller="Pacientes" asp-action="Vacunacion2" class="btn btn-primary" role="button">Ver Lista de Espera</a>
        <a style="position:absolute;top:64%;left:32%" asp-controller="Pacientes" asp-action="ListaVacunados" class="btn btn-primary" role="button">Ver Lista de Vacunados</a>
        <a style="color: black; position:absolute;top:75%;left:70%" asp-action="Index" asp-controller="Home" class="btn btn-danger " role="button">Regresar a Home</a>
    </section>
</body>
